@{
    ViewBag.Title = "Index";
}

<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-md-12" align="center">
                <img class="img-responsive" src="~/Content/img/26.png" width="1500" alt="" />
            </div>
        </div>
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-a -->
<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Projelerinizi 3 Boyutlu Görünüm<br>ile Pazarlayın</h2>
                <p class="lead">Profesyonel ekibimiz tarafından projeleriniz tıpkı hayalinizdeki gibi en kısa sürede hazırlanıp teslim edilsin. Sizde bizimle çalışmak için hemen iletişime geçin</p>
                <div class="cell">
                    <br>
                    <a ui-sref="dev.apps" class="button" data-color="purple" href="/dev/apps">Tüm Calısmalar</a>
                </div>
                <div class="right">
                    <br>
                    <a ui-sref="dev.apps" class="button" data-color="purple" href="/dev/apps">İletisim</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
